<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <fieldset class="fieldset2">
            <ul>
                <%
                result.forEach(function(emailConfig, index){
                %>
                    <% if(emailConfig.emailType === "TAX_ISSUE") { %>
                        <li>[정발행] <%= emailConfig.emailType %> (공급받는자에게 전자세금계산서 발행 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_ISSUE_INVOICER") { %>
                        <li>[정발행] <%= emailConfig.emailType %> (공급자에게 전자세금계산서 발행 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_CHECK") { %>
                        <li>[정발행] <%= emailConfig.emailType %> (공급자에게 전자세금계산서 수신확인 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_CANCEL_ISSUE") { %>
                        <li>[정발행] <%= emailConfig.emailType %> (공급받는자에게 전자세금계산서 발행취소 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_REQUEST") { %>
                        <li>[역발행] <%= emailConfig.emailType %> (공급자에게 세금계산서를 발행요청 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_CANCEL_REQUEST") { %>
                        <li>[역발행] <%= emailConfig.emailType %> (공급받는자에게 세금계산서 취소 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_REFUSE") { %>
                        <li>[역발행] <%= emailConfig.emailType %> (공급받는자에게 세금계산서 거부 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_TRUST_ISSUE") { %>
                        <li>[위수탁발행] <%= emailConfig.emailType %> (공급받는자에게 전자세금계산서 발행 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_TRUST_ISSUE_TRUSTEE") { %>
                        <li>[위수탁발행] <%= emailConfig.emailType %> (수탁자에게 전자세금계산서 발행 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_TRUST_ISSUE_INVOICER") { %>
                        <li>[위수탁발행] <%= emailConfig.emailType %> (공급자에게 전자세금계산서 발행 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_TRUST_CANCEL_ISSUE") { %>
                        <li>[위수탁발행] <%= emailConfig.emailType %> (공급받는자에게 전자세금계산서 발행취소 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_TRUST_CANCEL_ISSUE_INVOICER") { %>
                        <li>[위수탁발행] <%= emailConfig.emailType %> (공급자에게 전자세금계산서 발행취소 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_CLOSEDOWN") { %>
                        <li>[처리결과] <%= emailConfig.emailType %> (거래처의 휴폐업 여부 확인 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "TAX_NTSFAIL_INVOICER") { %>
                        <li>[처리결과] <%= emailConfig.emailType %> (전자세금계산서 국세청 전송실패 안내 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                    <% if(emailConfig.emailType === "ETC_CERT_EXPIRATION") { %>
                        <li>[정기발송] <%= emailConfig.emailType %> (팝빌에서 이용중인 공인인증서의 갱신 메일 전송 여부) : <%= emailConfig.sendYN %></li>
                    <% } %>
                <%
                });
                %>
            </ul>
        </fieldset>
    </fieldset>
</div>
</body>

</html>
