<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <fieldset class="fieldset2">
            <ul>
                <li> writeDate (작성일자) : <%= result.writeDate %> </li>
                <li> chargeDirection (과금방향) : <%= result.chargeDirection %> </li>
                <li> issueType (발행형태) : <%= result.issueType %> </li>
                <li> taxType (과세형태) : <%= result.taxType %> </li>
                <li> cash (현금) : <%= result.cash %> </li>
                <li> chkBill (수표) : <%= result.chkBill %> </li>
                <li> credit (외상) : <%= result.credit %> </li>
                <li> note (어음) : <%= result.note %> </li>
                <li> supplyCostTotal (공급가액 합계) : <%= result.supplyCostTotal %> </li>
                <li> taxTotal (세액 합계) : <%= result.taxTotal %> </li>
                <li> totalAmount (합계금액) : <%= result.totalAmount %> </li>
                <li> ntsconfirmNum (국세청승인번호) : <%= result.ntsconfirmNum %> </li>

                <li> invoicerCorpNum (공급자 사업자번호) : <%= result.invoicerCorpNum %> </li>
                <li> invoicerTaxRegID (공급자 종사업장 식별번호) : <%= result.invoicerTaxRegID %> </li>
                <li> invoicerMgtKey (공급자 문서번호) : <%= result.invoicerMgtKey %> </li>
                <li> invoicerCorpName (공급자 상호) : <%= result.invoicerCorpName %> </li>
                <li> invoicerCEOName (공급자 대표자명) : <%= result.invoicerCEOName %> </li>
                <li> invoicerAddr (공급자 주소) : <%= result.invoicerAddr %> </li>
                <li> invoicerBizType (공급자 업태) : <%= result.invoicerBizType %> </li>
                <li> invoicerBizClass (공급자 종목) : <%= result.invoicerBizClass %> </li>
                <li> invoicerContactName (공급자 담당자명) : <%= result.invoicerContactName %> </li>
                <li> invoicerDeptName (공급자 담당자 부서명) : <%= result.invoicerDeptName %> </li>
                <li> invoicerTEL (공급자 담당자 연락처) : <%= result.invoicerTEL %> </li>
                <li> invoicerHP (공급자 담당자 휴대폰) : <%= result.invoicerHP %> </li>
                <li> invoicerEmail (공급자 담당자 메일) : <%= result.invoicerEmail %> </li>
                <li> invoicerSMSSendYN (발행안내문자 전송여부) : <%= result.invoicerSMSSendYN %> </li>

                <li> invoiceeCorpNum (공급받는자 사업자번호) : <%= result.invoiceeCorpNum %> </li>
                <li> invoiceeTaxRegID (공급받는자 종사업장 식별번호) : <%= result.invoiceeTaxRegID %> </li>
                <li> invoiceeType (공급받는자 구분) : <%= result.invoiceeType %> </li>
                <li> invoiceeMgtKey (공급받는자 문서번호) : <%= result.invoiceeMgtKey %> </li>
                <li> invoiceeCorpName (공급받는자 상호) : <%= result.invoiceeCorpName %> </li>
                <li> invoiceeCEOName (공급받는자 대표자명) : <%= result.invoiceeCEOName %> </li>
                <li> invoiceeAddr (공급받는자 주소) : <%= result.invoiceeAddr %> </li>
                <li> invoiceeBizType (공급받는자 업태) : <%= result.invoiceeBizType %> </li>
                <li> invoiceeBizClass (공급받는자 종목) : <%= result.invoiceeBizClass %> </li>
                <li> invoiceeContactName1 (공급받는자 담당자명) : <%= result.invoiceeContactName1 %> </li>
                <li> invoiceeDeptName1 (공급받는자 부서명) : <%= result.invoiceeDeptName1 %> </li>
                <li> invoiceeTEL1 (공급받는자 담당자 연락처) : <%= result.invoiceeTEL1 %> </li>
                <li> invoiceeHP1 (공급받는자 담당자 휴대폰) : <%= result.invoiceeHP1 %> </li>
                <li> invoiceeEmail1 (공급받는자 담당자 메일) : <%= result.invoiceeEmail1 %> </li>
                <li> invoiceeSMSSendYN (역발행안내문자 전송여부) : <%= result.invoiceeSMSSendYN %> </li>
                <li> closeDownState (공급받는자 휴폐업상태) : <%= result.closeDownState %> </li>
                <li> closeDownStateDate (공급받는자 휴폐업일자) : <%= result.closeDownStateDate %> </li>

                <li> purposeType (영수/청구) : <%= result.purposeType %> </li>
                <li> serialNum (일련번호) : <%= result.serialNum %> </li>
                <li> remark1 (비고1) : <%= result.remark1 %> </li>
                <li> remark2 (비고2) : <%= result.remark2 %> </li>
                <li> remark3 (비고3) : <%= result.remark3 %> </li>
                <li> kwon (권) : <%= result.kwon %> </li>
                <li> ho(호) : <%= result.ho %> </li>
                <li> businessLicenseYN (사업자등록증 이미지 첨부여부) : <%= result.businessLicenseYN %> </li>
                <li> bankBookYN (통장사본이미지 첨부여부) : <%= result.bankBookYN %> </li>
                <%
                result.detailList.forEach(function(detailInfo, index){
                %>
                    <fieldset class="fieldset3">
                        <legend>detailList [<%= index + 1 %>]</legend>
                        <ul>
                            <li> serialNum (일련번호) : <%= detailInfo.serialNum %></li>
                            <li> purchaseDT (거래일자) : <%= detailInfo.purchaseDT %></li>
                            <li> itemName (품명) : <%= detailInfo.itemName %></li>
                            <li> spec (규격) : <%= detailInfo.spec %></li>
                            <li> qty (수량) : <%= detailInfo.qty %></li>
                            <li> unitCost (단가) : <%= detailInfo.unitCost %></li>
                            <li> supplyCost (공급가액) : <%= detailInfo.supplyCost %></li>
                            <li> tax (세액) : <%= detailInfo.tax %></li>
                            <li> remark (비고) : <%= detailInfo.remark %></li>
                        </ul>
                    </fieldset>
                <%
                });
                result.addContactList.forEach(function(contactInfo, index){
                %>
                    <fieldset class="fieldset3">
                        <legend>addContactList [<%= index + 1 %>]</legend>
                        <ul>
                            <li>serialNum (일련번호) : <%= contactInfo.serialNum %></li>
                            <li>email (담당자 이메일): <%= contactInfo.email %></li>
                            <li>contactName(담당자 성명): <%= contactInfo.contactName %></li>
                        </ul>
                    </fieldset>
                <%
                });
                %>
            </ul>
        </fieldset>
    </fieldset>
</div>
</body>

</html>
