<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>jobID (작업아이디) : <%= result.jobID %></li>
            <li>jobState (수집상태) : <%= result.jobState %></li>
            <li>startDate (시작일자) : <%= result.startDate %></li>
            <li>endDate (종료일자) : <%= result.endDate %></li>
            <li>errorCode (오류코드) : <%= result.errorCode %></li>
            <li>errorReason (오류메시지) : <%= result.errorReason %></li>
            <li>jobStartDT (작업 시작일시) : <%= result.jobStartDT %></li>
            <li>jobEndDT (작업 종료일시) : <%= result.jobEndDT %></li>
            <li>regDT (수집 요청일시) : <%= result.regDT %></li>
        </ul>
    </fieldset>
</div>
</body>

</html>
