<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>
    <title>예금주조회 API SDK Nodejs Example.</title>
</head>

<body>
<div id="content">
    <p class="heading1">예금주조회 API SDK Nodejs Example.</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>bankCode (기관코드) : <%= result.bankCode %></li>
            <li>accountNumber (계좌번호) : <%= result.accountNumber %></li>
            <li>accountName (예금주 성명) : <%= result.accountName %></li>
            <li>checkDate (확인일시) : <%= result.checkDate %></li>
            <li>result (응답코드) : <%= result.result %></li>
            <li>resultMessage (응답메시지) : <%= result.resultMessage %></li>
        </ul>
    </fieldset>
</div>
</body>

</html>
