<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <% if (result) { %>
            <% result.forEach(function(list, index){ %>
                <fieldset class="fieldset2">
                    <legend> 발신번호 목록 [ <%= index + 1 %> / <%= result.length %> ]</legend>
                    <ul>
                        <li> number (발신번호) : <%= list.number %></li>
                        <li> representYN (대표번호 지정여부) : <%= list.representYN %></li>
                        <li> state (등록상태) : <%= list.state %></li>
                        <li>memo (메모) : <%= list.memo %></li>
                    </ul>
                </fieldset>
        <% });} %>
    </fieldset>
</div>
</body>

</html>
