<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>
    <title>팝빌 SDK Nodejs - Express Example.</title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>code (응답코드) : <%= result.code %></li>
            <li>message (응답메시지) : <%= result.message %></li>
            <li>total (총 검색건수) : <%= result.total %></li>
            <li>perPage (페이지당 검색개수) : <%= result.perPage %></li>
            <li>pageNum (페이지 번호) : <%= result.pageNum %></li>
            <li>pageCount (페이지 개수) : <%= result.pageCount %></li>
        </ul>
        <%
        result.list.forEach(function(searchInfo, index){
        %>
            <fieldset class="fieldset2">
                <legend>조회결과 [ <%= ((result.pageNum - 1) * result.perPage) + (index + 1) %> / <%= result.total %>]
                </legend>
                <ul>
                    <li> state (전송상태 코드) : <%= searchInfo.state %></li>
                    <li> result (전송결과 코드) : <%= searchInfo.result %></li>
                    <li> subject (메시지 제목) : <%= searchInfo.subject %></li>
                    <li> content (메시지 내용) : <%= searchInfo.content %></li>
                    <li> messageType (메시지 유형) : <%= searchInfo.type %></li>
                    <li> sendNum (발신번호) : <%= searchInfo.sendNum %></li>
                    <li> senderName (발신자명) : <%= searchInfo.senderName %></li>
                    <li> receiveNum (수신번호) : <%= searchInfo.receiveNum %></li>
                    <li> receiveName (수신자명) : <%= searchInfo.receiveName %></li>
                    <li> receiptDT (접수일시) : <%= searchInfo.receiptDT %></li>
                    <li> reserveDT (예약일시) : <%= searchInfo.reserveDT %></li>
                    <li> sendDT (전송일시) : <%= searchInfo.sendDT %></li>
                    <li> resultDT (전송결과 수신일시) : <%= searchInfo.resultDT %></li>
                    <li> tranNet (전송 이동통신사명) : <%= searchInfo.tranNet %></li>
                    <li> receiptNum (접수번호) : <%= searchInfo.receiptNum %></li>
                    <li> requestNum (요청번호) : <%= searchInfo.requestNum %></li>
                    <li> interOPRefKey (파트너 지정키) : <%= searchInfo.interOPRefKey %></li>
                </ul>
            </fieldset>
        <%
        });
        %>
    </fieldset>
</div>
</body>

</html>
