<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
    <div id="content">
        <p class="heading1">GetRefundResult</p>
        <br />
        <fieldset class="fieldset1">
            <legend>
                <%= path %>
            </legend>
            <ul>
                </li>
                <li> reqDT (신청일시) : <%= result.reqDT %>
                </li>
                <li> requestPoint (환불 신청포인트) : <%= result.requestPoint %>
                </li>
                <li> accountBank (환불계좌 은행명) : <%= result.accountBank %>
                </li>
                <li> accountNum (환불계좌번호) : <%= result.accountNum %>
                </li>
                <li> accountName (환불계좌 예금주명) : <%= result.accountName %>
                </li>
                <li> state (상태) : <%= result.state %>
                </li>
                <li> reason (환불 사유) : <%= result.reason %>
                </li>
            </ul>
        </fieldset>
    </div>
</body>

</html>