<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">PaymentHistoryResult</p>
    <br/>
    <fieldset class="fieldset1">
        <li>code (API 처리에 대한 응답코드) : <%= result.code %></li>
        <li>total (총 검색결과 건수) : <%= result.total %></li>
        <li>perPage (페이지당 검색개수) : <%= result.perPage %></li>
        <li>pageNum (페이지 번호) : <%= result.pageNum %></li>
        <li>pageCount (페이지 개수) : <%= result.pageCount %></li>
        <legend><%= path %></legend>
        <%
        result.list.forEach(function(paymentHistory, index){
        %>
            <fieldset class="fieldset2">
                <legend>발행결과</legend>
                <ul>
                    <li>productType (결제 내용) : <%= paymentHistory.productType %></li>
                    <li>productName (정액제 상품명) <%= paymentHistory.productName %></li>
                    <li>settleType (결제유형) : <%= paymentHistory.settleType %></li>
                    <li>settlerName (담당자명) <%= paymentHistory.settlerName %></li>
                    <li>settlerEmail (담당자메일) : <%= paymentHistory.settlerEmail %></li>
                    <li>settleCost (결제금액) : <%= paymentHistory.settleCost %></li>
                    <li>settlePoint (충전포인트) : <%= paymentHistory.settlePoint %></li>
                    <li>settleState (결제상태) : <%= paymentHistory.settleState %></li>
                    <li>regDT (등록일시) : <%= paymentHistory.regDT %></li>
                    <li>stateDT (상태일시) : <%= paymentHistory.stateDT %></li>
                </ul>
            </fieldset>
        <%
        });
        %>
    </fieldset>
</div>
</body>

</html>
