<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">PaymentHistoryResult</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>무통장 입금신청 (<%= path %>)</legend>
        <ul>
            <li>productType (결제 내용) <%= result.productType %></li>
            <li>productName (정액제 상품명) <%= result.productName %></li>
            <li>settleType (결제유형) <%= result.settleType %></li>
            <li>settlerName (담당자명) <%= result.settlerName %></li>
            <li>settlerEmail (담당자메일) <%= result.settlerEmail %></li>
            <li>settleCost (결제금액) <%= result.settleCost %></li>
            <li>settlePoint (충전포인트) <%= result.settlePoint %></li>
            <li>settleState (결제상태) <%= result.settleState %></li>
            <li>regDT (등록일시) <%= result.regDT %></li>
            <li>stateDT (상태일시) <%= result.stateDT %></li>
        </ul>
    </fieldset>
</div>
</body>

</html>
