<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>
    <title>휴폐업조회 API SDK Nodejs Example.</title>
</head>

<body>
<div id="content">
    <p class="heading1">휴폐업조회 API SDK Nodejs Example.</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <div class="fieldset4">
            <form method="GET" id="corpnum_form" action="checkCorpNum">
                <% if (result != null){ %>
                    <input class="txtCorpNum left" type="text" placeholder="사업자번호 기재" id="CorpNum" name="CorpNum" value="<%= result.corpNum %>" tabindex=1/>
                <%
                } else {
                %>
                    <input class="txtCorpNum left" type="text" placeholder="사업자번호 기재" id="CorpNum" name="CorpNum" tabindex=1/>
                <% } %>

                <p class="find_btn find_btn01 hand" onclick="search()" tabindex=2>조회</p>
            </form>
        </div>
    </fieldset>
    <% if(result != null) { %>
        <fieldset class="fieldset2">
            <legend>휴폐업조회 - 단건</legend>
            <ul>
                <li>corpNum (사업자번호) : <%= result.corpNum %></li>
                <li>taxType (사업자 과세유형) : <%= result.taxType %></li>
                <li>typeDate (과세유형 전환일자) : <%= result.typeDate %></li>
                <li>state (휴폐업상태) : <%= result.state %></li>
                <li>stateDate (휴폐업일자) : <%= result.stateDate %></li>
                <li>checkDate (확인일자) : <%= result.checkDate %></li>
            </ul>
            <p class="info"> type : null (알수없음), 10 (일반과세자), 20 (면세과세자), 30 (간이과세자), 31 (간이과세자-세금계산서 발급사업자) 40 (비영리법인 또는 국가기관, 고유번호가 부여된 단체)</p>
            <p class="info"> state : null (알수없음), 0 (등록되지 않은 사업자번호), 1 (사업중), 2 (폐업), 3 (휴업)</p>
        </fieldset>
    <% } %>

    <br/>
</div>

<script type="text/javascript">
    window.onload = function () {
        document.getElementById("CorpNum").focus();
    };

    function search() {
        document.getElementById("corpnum_form").submit();
    }
</script>

</body>

</html>
