<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <ul>
            <li>code (응답코드) : <%= result.code %></li>
            <li>message (응답메시지) : <%= result.message %></li>
            <li>total (총 검색건수) : <%= result.total %></li>
            <li>perPage (페이지당 검색개수) : <%= result.perPage %></li>
            <li>pageNum (페이지 번호) : <%= result.pageNum %></li>
            <li>pageCount (페이지 개수) : <%= result.pageCount %></li>
        </ul>
        <legend><%= path %></legend>
        <%
        result.list.forEach(function(searchInfo, index){
        %>
            <fieldset class="fieldset2">
                <legend>조회결과 [ <%= ((result.pageNum - 1) * result.perPage) + (index + 1) %> / <%= result.total %>]
                </legend>
                <ul>
                    <li>state (전송상태 코드) : <%= searchInfo.state %></li>
                    <li>result (전송결과 코드) : <%= searchInfo.result %></li>
                    <li>sendNum (발신번호) : <%= searchInfo.sendNum %></li>
                    <li>senderName (발신자명) : <%= searchInfo.senderName %></li>
                    <li>receiveNum (수신번호) : <%= searchInfo.receiveNum %></li>
                    <li>receiveNumType (수신번호 유형) : <%= searchInfo.receiveNumType %></li>
                    <li>receiveName (수신자명) : <%= searchInfo.receiveName %></li>
                    <li>title (팩스제목) : <%= searchInfo.title %></li>
                    <li>sendPageCnt (전체 페이지수) : <%= searchInfo.sendPageCnt %></li>
                    <li>successPageCnt (성공 페이지수) : <%= searchInfo.successPageCnt %></li>
                    <li>failPageCnt (실패 페이지수) : <%= searchInfo.failPageCnt %></li>
                    <li>refundPageCnt (환불 페이지수) : <%= searchInfo.refundPageCnt %></li>
                    <li>cancelPageCnt (취소 페이지수) : <%= searchInfo.cancelPageCnt %></li>
                    <li>receiptDT (접수일시) : <%= searchInfo.receiptDT %></li>
                    <li>reserveDT (예약일시) : <%= searchInfo.reserveDT %></li>
                    <li>sendDT (전송일시) : <%= searchInfo.sendDT %></li>
                    <li>resultDT (전송결과 수신일시) : <%= searchInfo.resultDT %></li>
                    <li>fileNames (전송 파일명 리스트) : <%= searchInfo.fileNames %></li>
                    <li>receiptNum (접수번호) : <%= searchInfo.receiptNum %></li>
                    <li>requestNum (요청번호) : <%= searchInfo.requestNum %></li>
                    <li> interOPRefKey (파트너 지정키) : <%= searchInfo.interOPRefKey %></li>
                    <li>chargePageCnt (과금 페이지수) : <%= searchInfo.chargePageCnt %></li>
                    <li>tiffFileSize (변환파일용량 (단위 : byte)) : <%= searchInfo.tiffFileSize %></li>
                </ul>
            </fieldset>
        <%
        });
        %>
    </fieldset>
</div>
</body>

</html>
