<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <%
        result.forEach(function(cashbillInfo, index){
        %>
            <fieldset class="fieldset2">
                <ul>
                    <li> itemKey (팝빌번호) : <%= cashbillInfo.itemKey %></li>
                    <li> mgtKey (문서번호) : <%= cashbillInfo.mgtKey %></li>
                    <li> tradeDate (거래일자) : <%= cashbillInfo.tradeDate %></li>
                    <li> tradeDT (거래일시) : <%= cashbillInfo.tradeDT %></li>
                    <li> tradeType (문서형태) : <%= cashbillInfo.tradeType %></li>
                    <li> tradeUsage (거래구분) : <%= cashbillInfo.tradeUsage %></li>
                    <li> tradeOpt (거래유형) : <%= cashbillInfo.tradeOpt %></li>
                    <li> taxationType (과세형태) : <%= cashbillInfo.taxationType %></li>
                    <li> totalAmount (거래금액) : <%= cashbillInfo.totalAmount %></li>
                    <li> issueDT (발행일시) : <%= cashbillInfo.issueDT %></li>
                    <li> regDT (등록일시) : <%= cashbillInfo.regDT %></li>
                    <li> stateCode (상태코드) : <%= cashbillInfo.stateCode %></li>
                    <li> stateDT (상태변경일시) : <%= cashbillInfo.stateDT %></li>
                    <li> identityNum (식별번호) : <%= cashbillInfo.identityNum %></li>
                    <li> itemName (주문상품명) : <%= cashbillInfo.itemName %></li>
                    <li> customerName (주문자명) : <%= cashbillInfo.customerName %></li>
                    <li> confirmNum (국세청승인번호) : <%= cashbillInfo.confirmNum %></li>
                    <li> orgConfirmNum (원본 현금영수증 국세청승인번호) : <%= cashbillInfo.orgConfirmNum %></li>
                    <li> orgTradeDate (원본 현금영수증 거래일자) : <%= cashbillInfo.orgTradeDate %></li>
                    <li> ntssendDT (국세청 전송일시) : <%= cashbillInfo.ntssendDT %></li>
                    <li> ntsresultDT (국세청 처리결과 수신일시) : <%= cashbillInfo.ntsresultDT %></li>
                    <li> ntsresultCode (국세청 처리결과 상태코드) : <%= cashbillInfo.ntsresultCode %></li>
                    <li> ntsresultMessage (국세청 처리결과 메시지) : <%= cashbillInfo.ntsresultMessage %></li>
                    <li> printYN (인쇄여부) : <%= cashbillInfo.printYN %></li>
                    <li> interOPYN (연동문서 여부) : <%= cashbillInfo.interOPYN %></li>
                </ul>
            </fieldset>
        <%
        });
        %>
    </fieldset>
</div>
</body>

</html>
