<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <ul>
            <li>code (응답코드) : <%= result.code %></li>
            <li>message (응답메시지) : <%= result.message %></li>
            <li>total (총 검색건수) : <%= result.total %></li>
            <li>perPage (페이지당 검색개수) : <%= result.perPage %></li>
            <li>pageNum (페이지 번호) : <%= result.pageNum %></li>
            <li>pageCount (페이지 개수) : <%= result.pageCount %></li>
        </ul>
        <legend><%= path %></legend>
        <%
        result.list.forEach(function(searchInfo, index){
        %>
            <fieldset class="fieldset2">
                <legend>조회결과 [ <%= ((result.pageNum - 1) * result.perPage) + (index + 1) %> / <%= result.total %>]
                </legend>
                <ul>
                    <li> itemCode (명세서 코드) : <%= searchInfo.itemCode %></li>
                    <li> itemKey (팝빌번호) : <%= searchInfo.itemKey %></li>
                    <li> invoiceNum (팝빌 승인번호) : <%= searchInfo.invoiceNum %></li>
                    <li> mgtKey (문서번호) : <%= searchInfo.mgtKey %></li>
                    <li> taxType (세금형태) : <%= searchInfo.taxType %></li>
                    <li> writeDate (작성일자) : <%= searchInfo.writeDate %></li>
                    <li> regDT (임시저장일시) : <%= searchInfo.regDT %></li>
                    <li> senderCorpName (발신자 상호) : <%= searchInfo.senderCorpName %></li>
                    <li> senderCorpNum (발신자 사업자등록번호) : <%= searchInfo.senderCorpNum %></li>
                    <li> senderPrintYN (발신자 인쇄여부) : <%= searchInfo.senderPrintYN %></li>
                    <li> receiverCorpName (수신자 상호): <%= searchInfo.receiverCorpName %></li>
                    <li> receiverCorpNum (수신자 사업자등록번호) : <%= searchInfo.receiverCorpNum %></li>
                    <li> receiverPrintYN (수신자 인쇄여부) : <%= searchInfo.receiverPrintYN %></li>
                    <li> supplyCostTotal (공급가액 합계) : <%= searchInfo.supplyCostTotal %></li>
                    <li> taxTotal (세액 합계) : <%= searchInfo.taxTotal %></li>
                    <li> purposeType (영수/청구) : <%= searchInfo.purposeType %></li>
                    <li> issueDT (발행일시) : <%= searchInfo.issueDT %></li>
                    <li> stateCode (상태코드) : <%= searchInfo.stateCode %></li>
                    <li> stateDT (상태 변경일시) : <%= searchInfo.stateDT %></li>
                    <li> stateMemo (상태메모) : <%= searchInfo.stateMemo %></li>
                    <li> openYN (개봉 여부) : <%= searchInfo.openYN %></li>
                    <li> openDT (개봉 일시) : <%= searchInfo.openDT %></li>
                </ul>
            </fieldset>
        <%
        });
        %>
    </fieldset>
</div>
</body>

</html>
