<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>
<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>ceoname (대표자성명) : <%= result.ceoname %></li>
            <li>corpName (상호) : <%= result.corpName %></li>
            <li>addr (주소) : <%= result.addr %></li>
            <li>bizType (업태) : <%= result.bizType %></li>
            <li>bizClass (종목) : <%= result.bizClass %></li>
        </ul>
    </fieldset>
</div>
</body>
</html>
