<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">RefundHistoryResult</p>
    <br/>
    <fieldset class="fieldset1">
        <li>code (API 처리에 대한 응답코드) : <%= result.code %></li>
        <li>total (총 검색결과 건수) : <%= result.total %></li>
        <li>perPage (페이지당 검색개수) : <%= result.perPage %></li>
        <li>pageNum (페이지 번호) : <%= result.pageNum %></li>
        <li>pageCount (페이지 개수) : <%= result.pageCount %></li>
        <legend><%= path %></legend>
        <%
        result.list.forEach(function(refundHistory, index){
        %>
            <fieldset class="fieldset2">
                <legend>사용 내역 [<%= index + 1 %>/<%= result.length %>]</legend>
                <ul>
                    <li>reqDT (신청 일시) : <%= refundHistory.reqDT %></li>
                    <li>requestPoint (환불 신청포인트) <%= refundHistory.requestPoint %></li>
                    <li>accountBank (환불계좌 은행명) : <%= refundHistory.accountBank %></li>
                    <li>accountNum (환불계좌번호) <%= refundHistory.accountNum %></li>
                    <li>state (상태) : <%= refundHistory.state %></li>
                    <li>reason (환불사유) : <%= refundHistory.reason %></li>
                </ul>
            </fieldset>
        <%
        });
        %>
    </fieldset>
</div>
</body>

</html>
