<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>
            <%= path %>
        </legend>
        <fieldset class="fieldset2">
            <ul>
                <li>code (API 처리에 대한 응답코드) : <%= result.code %>
                </li>
                <li>total (총 검색결과 건수) : <%= result.total %>
                </li>
                <li>perPage (페이지당 검색개수) : <%= result.perPage %>
                </li>
                <li>pageNum (페이지 번호) : <%= result.pageNum %>
                </li>
                <li>pageCount (페이지 개수) : <%= result.pageCount %>
                </li>

                <% result.list.forEach(function(useHistory, index){ <li>itemCode (서비스코드) : <%= useHistory.itemCode
                %>
                </li>
                <li>txType (포인트 증감 유형) : <%= useHistory.txType %>
                </li>
                <li>txPoint (증감 포인트) : <%= useHistory.txPoint %>
                </li>
                <li>balance (잔여 포인트) : <%= useHistory.balance %>
                </li>
                <li>txDT (포인트 증감 일시) : <%= useHistory.txDT %>
                </li>
                <li>userID (담당자 아이디) : <%= useHistory.userID %>
                </li>
                <li>userName (담당자명) : <%= useHistory.userName %>
                </li>
                %>

                <% }); %>
            </ul>
        </fieldset>
    </fieldset>
</div>
</body>

</html>